.layout {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
@media all and (max-width: 600px) {
    .main {
        display: block;
    }
}
